body {
    margin: 0px;   
    box-sizing: border-box; 
    font-family: Arial, Helvetica, sans-serif;
}
/* navbar */
.navbar {
    height: 60px;
    color: #ffffff;
    background-color: rgb(19, 25, 33);
    display: flex;
    align-items: center;

}
.hover {
    padding: 5px;
    border: 2px solid transparent;
}

.hover:hover {
    border: 2px solid white;
    border-radius: 4px;

}
/* logo */
.logo {
    height: 40px;
    width: 110px;
    background-image: url(amazon-logo.png);
    object-fit: cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* nav location */


.nav-location span {
    display: block;
}

.nav-line1 {
    font-size: 0.70rem;
    font-weight: 300;
}

.nav-line2 {
    font-size: 1rem;
    font-weight: 700;
}

/* search bar */

.nav-search { 
    width: 400px;
    display: flex;
    position: static;
    float: none;
}

.nav-search-bar {
    height: 30px;
}