body {
    margin: 0px;   
    box-sizing: border-box; 
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dddadaa4;
}
/* navbar */
.navbar {
    height: 60px;
    color: #ffffff;
    background-color: rgb(19, 25, 33);
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.hover {
    padding: 5px;
    border: 2px solid transparent;
}

.pointer:hover{
    cursor: pointer;
}

.hover:hover {
    border: 2px solid white;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;


}
/* logo */
.logo {
    height: 40px;
    width: 110px;
    background-image: url(amazon-logo.png);
    object-fit: cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* nav location */


.nav-location span {
    display: block;
}

.nav-line1 {
    font-size: 0.70rem;
    font-weight: 300;
}

.nav-line2 {
    font-size: 1rem;
    font-weight: 700;
}

/* search bar */

.nav-search {
    display: flex;
    height: 40px;
    width: 40%;
    border-radius: 4px;
    border: 2px solid transparent;
    
}
.nav-search:hover {
    border: 2px solid #f1b564;
}

.nav-search select {
    width: 40px;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #0f1111;
    background-color: #d9d9d9;
}

.nav-search input {
    width: 90%;
    border: none;
}
.nav-search div {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1b564;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* nav main */

.nav-main {
    background-color: #232f3f;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
}

.nav-list {
    font-weight: 700;
}

.nav-main div {
    flex-grow: 1;
}


.nav-main a {
    margin-left: 5px;
    border: 2px solid transparent;
    padding: 5px;
    font-weight: 300;
    font-size: 0.85rem;

}

.nav-main a:hover {
    border: 2px solid white;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
}


.hero-img {
    max-height: 100%;
    max-width: 100%;
    
}

/* hero img */

.hero-img {
    background-image: url(hero-img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: end;
    align-items: end;
    height: 500px;
}

.hero-text {
    background-color: #ffffff;
    height: 40px;
    width: 97%;
    font-size: 0.80rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* transform: translateY(-300px); */
    margin: 5%;
    margin-bottom: 2%;  
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}



.link-hover {
    color: #007185;
    text-decoration: none;
    font-size: 0.80rem;
}

.link-hover:hover {
    color: #C7511F;
    cursor: pointer;
    text-decoration: underline;
}

main {
    /* transform: translateY(-300px); */
    width: 100%; 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.cardui {
    height: 400px;
    width: 300px;
    padding: 20px;
    margin: 20px;
    background-color: #ffffff;   
}

.card-img {
    height: 80%;
    width: 90%;
    background-size: cover;
    background-repeat: no-repeat;

}

/* footer */

.footer1 {
    height: 500px;
    width: 100%;
    background-color: #232F3E;
    color: #ffffff;
    display: flex;
    justify-content: space-around;

    padding: 20px;
}
.footer1 ul th {
    font-size: 1.70rem;
    font-weight: 700;
}

.footer1 ul a {
    margin: 20px;
    margin-left: 0;
    font-size: 0.85rem;
    display: flex;
    justify-content: left;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
}

.footer1 ul a:hover {
    text-decoration: underline;
}

.footer2 {
    height: 100px;
    width: 100%;
    background-color: #232F3E;
    border-top: 1px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer2 .footer2-a a {
    margin: 50px;
    color: #ffffff;
    text-decoration: none;
    border: 1px solid #ffffff;
    padding: 15px;
    border-radius: 5px;
}
.footer2-a {
    margin-left: 100px ;
}

.logo2 {
    height: 40px;
    width: 100px;
    background-image: url(amazon-logo2.png);
    background-position: center;    
}


.footer3 {
    height: 70px;
    width: 100%;
    background-color: #131A22;
    
    color: #ffffff;
}

.footer3-a{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer3 a {
    color: #ffffff;
    text-decoration: none;
    margin: 10px;
    margin-bottom: 0;
}

.footer3 a:hover {
    text-decoration: underline;
}

.footer3 p {
    text-align: center;
}