body {
    margin: 0px;   
    box-sizing: border-box; 
    font-family: Arial, Helvetica, sans-serif;
}
/* navbar */
.navbar {
    height: 60px;
    color: #ffffff;
    background-color: rgb(19, 25, 33);
    display: flex;
    align-items: center;

}

.hover:hover {
    border: 2px solid white;
    border-radius: 4px;

}
/* logo */
.logo {
    height: 40px;
    width: 110px;
    border: 2px solid transparent;
    padding: 5px;
    background-image: url(amazon-logo.png);
    object-fit: cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* nav location */

.nav-location span {
    display: block;
    float: left;

}

.nav-line1 {
    font-size: 0.70rem;
    font-weight: 300;

}